<p id="notice"><%= notice %></p>

<p>
  <strong>Match date:</strong>
  <%= @game.match_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @game.user.email %>
</p>

<p>
  <strong>Opponent:</strong>
  <%= @game.opponent.email %>
</p>

<p>
  <strong>User score:</strong>
  <%= @game.user_score %>
</p>

<p>
  <strong>Opponent score:</strong>
  <%= @game.opponent_score %>
</p>
<%= link_to 'Back', games_path, class: 'btn btn-info' %>
